#sett{
  -webkit-transition: -webkit-transform 2s; /* For Safari 3.1 to 6.0 */
  transition: transform 2s;
}

#setti:hover #sett{
  -ms-transform: rotate(360deg); /* IE 9 */
  -webkit-transform: rotate(360deg); /* Safari */
  transform: rotate(360deg);
}

.plain-input-tag{
  border: none;
  outline: none;
  width: 100%;
  color : #000;
}
.top-margin-10{
  margin-top: 10px;
}
