<div class="col-md-2"></div>
<div class="col-md-8" id="formBox">
  <div class="loadingDiv" ng-show="buttonShow2">
    <img src="https://res.cloudinary.com/buzzcloud/image/upload/v1457419559/loading_jerbkj.gif" alt=""/>
  </div>
  <br/><br/>

  <form enctype="multipart/form-data" name="frm">
    <div class="form-group">
      <label for="title">Title : </label>
      <input type="text" id="title" class="form-control" placeholder="Enter Title for your complain" ng-model="complain.title" required/>
    </div>
    <br/>

    <div class="form-group">
      <label for="content">Description : </label>
      <textarea rows="4" id="content" class="form-control" placeholder="Enter your complain here" data-ng-model="complain.content" ng-change="shouldShow()"></textarea>
    </div>
    <br/>

    <div class="pull-left">
      <div class="dropdown">
        <button class="btn btn-success btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="true">
              <span data-toggle="tooltip" title="Select a category for your Complain">
                {{complain.category}}
              <span class="caret"></span>
              </span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#" ng-click="setCategory('Hardware')">Hardware</a></li>
          <li><a href="#" ng-click="setCategory('Software')">Software</a></li>
          <li><a href="#" ng-click="setCategory('Infrastructure')">Infrastructure</a></li>
        </ul>
      </div>
      <!-----------------input type file----------------->
      <div class="form_controls" style="display: inline-block; left : 110px;" id="uploadBox" data-toggle="tooltip"
           title="Select An image.">
        <div class="upload_button_holder">
          <div href="#" class="upload_button" ngf-select="uploadFiles($files)" multiple title="upload"
               resetOnClick="true"><i class="glyphicon glyphicon-camera"></i></div>
        </div>

      </div>
    </div>

    <button class="btn btn-primary btn-sm pull-right" id="submitButton" ng-click="submitComplain()" ng-disabled="buttonShow2 || !frm.$dirty || frm.$invalid"
            style="position: relative; top: 1px;">Submit
    </button>
  </form>
  <br/><br/>
  <div class="file" ng-repeat="file in files" style="position: relative;left: -10%;">
    <img class="postContentImage img-responsive" ngf-src="file" height="100" width="140" >
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function () {
    $('.profile-usermenu .nav li').removeClass('active');
    $('[data-toggle="tooltip"]').tooltip();
    $('#th').addClass('active');
    $('#cmptwo').addClass('active');
    $('#cmpone').removeClass('active');
  });
</script>
