.onePost{
  padding: 20px;
  background-color: #ffffff;
  margin-bottom: 20px;
}
.postHeaderSpan{
  color : #2c3e50;
  font-weight: bolder;
}
.postHeader{
  overflow: hidden;
}
.postHeaderImage{
  float: left;
}
.postHeaderDiv{
  float: left;
  margin-left: 1%;
}
.postContentDiv{
  margin-top: 10px;
  word-break: break-all;
}
.postContentImage{
  max-height: 300px;
  max-width: 100%;
}
.postHeaderDateSpan{
  font-weight: bolder;
  font-size: 10px;
  position: relative;
  top: -4px;
  color: #7f8c8d;
}
.showMoreContainer {
  font-size: 16px;
  line-height: 16px;
  height: 80px;
  overflow: hidden;
}
.showMoreShow {
  overflow: visible;
  height: auto;
}
pre{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  border: none;
  padding: 0px;
}
.blurred{
  text-align: center;
  color: rgba(0,0,0,.2);
  position: relative;
}
.ribbon-wrapper1{
  padding : 6px 0px;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#3498db, #2980b9); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#3498db, #2980b9); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#3498db, #2980b9); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#3498db, #2980b9); /* Standard syntax */
  color: #fff;
  font-weight: bolder;
  width : 30%;
  text-align: center;
  float: right;
  position: relative;
  left : 25px;
  overflow: hidden;
}
.ribbon-wrapper2{
  padding : 6px 0px;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient( #f39c12, #e67e22); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient( #f39c12, #e67e22); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient( #f39c12, #e67e22); /* For Firefox 3.6 to 15 */
  background: linear-gradient( #f39c12, #e67e22); /* Standard syntax */
  color: #fff;
  font-weight: bolder;
  width : 30%;
  text-align: center;
  float: right;
  position: relative;
  left : 25px;
  overflow: hidden;
  z-index: 1;
}
#preview .tri-1{
  border-left-color: #ffffcc;
}
.tri-1{
  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
  border-left: 20px solid #fff;
  border-right : none;
  height: 0px;
  width : 0px;
  float: left;
  position: absolute;
  top : -4px;
  left: 0px;
}
.tri-2{
  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
  border-right: 20px solid orange;
  border-left : none;
  height: 0px;
  width : 0px;
  float: right;
  position: absolute;
  z-index: 1;
}
@media screen and (max-width: 600px){
  html{
    overflow-x : hidden ;
  }
  .ribbon-wrapper2, .ribbon-wrapper1{
    width : 37%;
    font-weight: bold;
  }
  .tri-1{
    left: -2px;
  }
  .navbar{
    width: 100%;
  }
}
@media screen and (max-width: 450px){
  .ribbon-wrapper2, .ribbon-wrapper1{
    width : 50%;
    font-size: 9px;
    word-spacing: 1px;
  }

  .tri-1{
    top : -8px;
  }
  .postHeaderSpan{
    font-size: 10px;
    line-height: 10px;
    width: 100%;
  }
  .navbar{
    width: 100%;
  }
}

.opinionButton{
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: 4px;
}
.opinionButton img{
  height: 25px;
  width: 25px;
}
.opinionButton img:active{
  opacity: .7;
}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.commentDiv{
  background-color: #f0e6ff;
  padding: 5px;
  margin-top: 5px;
}
.commentDiv:after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.commentImageDiv{
  display: inline-block;
  float: left;
}
.commentImageDiv img{
  height: 40px;
  width: 40px;
}
.commentContentDiv{
  display: inline-block;
  float: left;
  margin-left: 5px;
}
.cancelOptionDiv{
  position: absolute;
  top: 0px;
  left: 0px;
  right: -5px;
  bottom: 0px;
  background-color: rgba(0,0,0,.5);
  z-index: 99;
  display: none;
}
.cancelContainer:hover .cancelOptionDiv{
  display: block;
}
.cancelButtonContainer{
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 35%;
}

/*chatbox starts*/
.chatboxes{
  position: fixed;
  bottom: 0px;
  margin-right: 200px;
}

.chatbox{
  border: 1px solid #A3A3A3;
  width: 200px;
  background-color: #fff;
  float: right;
  margin-right: 5px;
}

.chatbox-title{
  background-color: #3498db;
  color: #ffffff;
  font-weight: bolder;
  padding: 8px 14px;
}
.chatbox-input{
  padding: 5px 12px;
  width: 100%;
  outline: none;
  border-width: 1px 0px;
}
.chatbox-messages{
  list-style-type: none;
}
.messages{
  padding: 10px;
  height : 220px;
  overflow: auto;
}
.onlineUsers{
  background-color: #fff;
  color: #00b3ee;
  position: fixed;
  right: 0px;
  top: 0px;
  bottom: 0px;
  padding-top: 100px;
}
.users{
  list-style-type: none;
}

.users li{
  padding: 8px 42px;

}
.users li:hover{
  background-color: rgba(241, 196, 15,.5);
  cursor: pointer;
}
/*chatbox ends*/
