<div class="postDiv" ng-init="getPosts()">
  <form method="post" enctype="multipart/form-data">
    <textarea rows="4" class="form-control" placeholder="Create A buzz..." data-ng-model="post.content"></textarea><br/>

    <div class="dropdown">
      <button class="btn btn-success btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
              <span data-toggle="tooltip" title="Select a category for your Buzz">
                Type
              <span class="caret"></span>
              </span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#" ng-click="setCategory('Buzz')">Buzz</a></li>
        <li><a href="#" ng-click="setCategory('Lost And Found')">Lost And Found</a></li>
      </ul>
    </div>



    <label for="upload" id="uploadBox" data-toggle="tooltip" title="Select An image. Make your Buzz cool">
      <span class="glyphicon glyphicon-paperclip" aria-hidden="true" ></span>
      <input type="file" id="upload" name="file" file-model="post.file" style="display:none">
    </label>

    <button class="btn btn-primary btn-sm pull-right" id="submitButton" ng-click="submitPost()">Submit</button>
  </form>

</div>


  <div ng-repeat="post in posts" class="onePost">
    <div class="postHeader">
      <img ng-src="{{post.user.imageUrl}}" class="postHeaderImage" alt=""/>
      <div class="postHeaderDiv">
        <span class="postHeaderSpan">{{post.user.name}} Buzzed in {{post.category}}</span><br/>
        <span class="postHeaderDateSpan">{{post.buzzDate | date}}</span>
      </div>
    </div>
    <div class="postContentDiv">
      <span class="postContentSpan" ng-bind-html="post.content"></span><br/><br/>
      <img class="postContentImage" ng-src="{{post.imageUrl}}" alt=""/>
    </div>

  </div>



<script type="text/javascript">
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
    $('#on').addClass('active');
  });
</script>
