.navbar{
  background-color: #3498db;
  font-weight: bolder;
  z-index: 999999;
}

.navbar-default .navbar-nav > li > a{
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover{
   color: #bdc3c7;
 }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
  background-color: transparent;
}

.navbar-default .navbar-brand {
  color: #ecf0f1;
}

.navbar-default .navbar-brand:hover {
  color: #bdc3c7;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
}
body {
  background: #F1F3FA;
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 30%;
  height: 30%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}
#uploadBox{
  position: relative;
  top : -25px;
  left: 125px;
  color: grey;
}
#uploadBox:hover{
  cursor: pointer;
}
#submitButton{
  position: relative;
  top: -28px;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

.postDiv{
  margin-bottom: 10px;
  padding: 10px;
  padding-bottom: 0px;
  background-color: #fff;
}

textarea{
  resize: none;
  border-radius: 0px;
  border: none;
  outline: none;
}

/*::-webkit-scrollbar-track {
  background-color: #b46868;
} *//* the new scrollbar will have a flat appearance with the set background color *//*

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
} *//* this will style the thumb, ignoring the track *//*

::-webkit-scrollbar-button {
  background-color: #7c2929;
} *//* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) *//*

::-webkit-scrollbar-corner {
  background-color: black;
}*/



